{% load static %}
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary shadow-sm">
    <div class="container-fluid">
      <a class="navbar-brand" href='{% url "socialapp:home-post-filter" category="all" page=1 %}'>SEcommerce</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mt-2 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href='{% url "socialapp:home-post-filter" category="all" page=1 %}'>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </li>
        </ul>

        <div class="row" style="position:relative;left:-320;width:500px">
          <div class="col-sm-6 input-group rounded">
            <input type="search" 
                   class="form-control rounded"
                  />
            <image class="mx-2 my-auto" src='{% static "utils/search.png"%}' width="25" height="25"></image>
          </div>
        </div>

        {% if request.user.is_authenticated %}
        <a class="" href="#">
          <image src='{% static "utils/follow.png"%}' style='height:35px;width:35px;'>
            <span class="position-relative top-0 start-15 translate-middle badge rounded-pill bg-danger">
              2+
            </span>
          </image>
        </a>
        <a class="" href="#">
          <image src='{% static "utils/messenger.png"%}' style='height:30px;width:30px;'>
            <span class="position-relative top-0 start-15 translate-middle badge rounded-pill bg-danger">
              9+
            </span>
          </image>
        </a>
        <div class="nav-item dropdown d-flex" style='height:50px;margin-right:30px'>
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <image src="{%if request.user.userextradetail_set.get.profile_image %}{{ request.user.userextradetail_set.get.profile_image.url }}{% endif %}" style='height:35px;width:35px;border-radius:50%'></image>
                <b class="mx-2"> Hi,{{ request.user.username| capfirst }}</b>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href='{% url "userprofile:user-profile" %}'><b>Profile</b></a></li>
              <li><a class="dropdown-item" href='{% url "wauthentication:password-change" %}'><b>Change Password</b></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href='{% url "wauthentication:logout" %}'><b>Logout</b></a></li>
            </ul>
        </div>
        
        {% else %}
        <div class="d-flex">
            <a href='{% url "wauthentication:login" %}'><button type="button" class="btn btn-md btn-success mx-2" >Login</button></a>
            <a href='{% url "wauthentication:register" %}'><button type="button" class="btn btn-md btn-danger mx-2">SignUp</button></a>
        </div>
        {% endif %}
      </div>
    </div>
  </nav>
