{% extends "wauthentication/user-detail-change.html" %}

{% block content2 %}
<div class="px-5" id="user-detail-change-form">
    <h2 class="mt-1" align="center"><b>Upload Image</b></h2>
    <div class="d-flex justify-content-center mt-5">
        <form action='.' method="post" enctype="multipart/form-data">  
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary mt-2" type="submit"> Upload Image </button>
        </form>
    </div>
</div>
{% endblock content2 %}