{% if request.user.is_authenticated %}
            <div class="row justify-content-end" style="position:fixed;bottom:0;right:30px">
                <button type="button" class="btn btn-danger border border-2 shadow-lg mt-5"
                 data-bs-toggle="modal" 
                 data-bs-target="#exampleModal"
                 hx-get='{% url "socialapp:add-post" %}'
                 hx-trigger="click"
                 hx-target="#AddPostModalForm"
                 hx-swap="outerHTML"
                 style="position:relative;bottom:20;width:75px;height:75px;font-size:30px;font-weight: bolder;border-radius:50%;color:white">
                 +
                </button>
            </div> 

            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div id="AddPostModalForm"></div>
                </div>
            </div>            
{% endif %} 