{% load static %}
<div class="col-md-12 d-flex justify-content-left">

    <div class="profile-button my-3">
        <h2 align="center">21</h2>
        <button type="button" style="width:200px" class="btn btn-light  shadow-sm btn-large mx-3 my-2" disabled>
            <b>Posts</b>
            <image class="mx-2" src='{% static "utils/instagram-post.png"%}' height="35" width="35"></image>
        </button>
    </div>

    <div class="profile-button my-3">
        <h2 align="center">55</h2>
        <button type="button" style="width:200px" class="btn border btn-light shadow-sm btn-large mx-3 my-2">
            <b>Followers </b>
            <image class="mx-2" src='{% static "utils/queue.png"%}' height="35" width="35"></image>
        </button>
    </div>

    <div class="profile-button my-3">
        <h2 align="center">110</h2>
        <button type="button" style="width:200px" class="btn border btn-light shadow-sm  btn-large mx-3 my-2">
            <b>Following</b>
            <image class="mx-2" src='{% static "utils/queue.png"%}' height="35" width="35"></image>
        </button>
    </div>
    <!--
    <div class="my-5">
        <image class="mx-2 my-4 shadow-sm" src='{% static "utils/settings.png"%}' height="45" width="45"></image>
    </div>-->
</div>