{% load static %}
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/home.png" %}' width="20" height="20"> <b class="mx-3">Home</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/pizza.png" %}' width="20" height="20"> <b class="mx-3">Food</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/plane.png" %}' width="20" height="20"> <b class="mx-3">Travel</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/television.png" %}' width="20" height="20"> <b class="mx-3">Entertainment</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/megaphone.png" %}' width="20" height="20"> <b class="mx-3">News</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/tennis.png" %}' width="20" height="20"> <b class="mx-3">Sports</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/stocks.png" %}' width="20" height="20"> <b class="mx-3">Business</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/brain.png" %}' width="20" height="20"> <b class="mx-3">Learning</b> </image>
</div>
<div class="card-header shadow-sm" style="background-color:white">
    <image src='{% static "utils/musical-note.png" %}' width="20" height="20"> <b class="mx-3">Music</b> </image>
</div>