<div class="d-flex justify-content-left">
    <image class="my-3 mx-3 border border-3 shadow-md"
            src="{%if user.userextradetail_set.get.profile_image %}{{ user.userextradetail_set.get.profile_image.url }}{% endif %}" 
            style="height:150px;width:150px;border-radius:50%;"></image>
    
</div>
<p class="mx-3 fs-4 fw-lighter">{{ user.first_name | capfirst }} {{ user.last_name| capfirst }}</p>     
<p class="mx-3">
    {% if user.userextradetail_set.get.user_bio %}
        {{ user.userextradetail_set.get.user_bio }}
    {% else %}
        Add Bio....
    {% endif %}
</p>