{% extends "base.html" %}
{% block socialapp %}
    <div class="row shadow-sm bg-light">
        <div class="col-md-3" >
            {% include "userprofile/profile-image-detail.html" %}
        </div>

        <div class="col-md-9">
            <div class="row">
                {% if request.user.id == user.id %}
                    <div id="profile-follower-post"
                        hx-get='{% url "followers:followers-count" %}'
                        hx-trigger='load'
                        hx-swap='outerHTML'>
                    </div>
                {% else %}
                    <div id="profile-follower-post"
                        hx-get='{% url "followers:others-followers-count" user_id=user.id %}'
                        hx-trigger='load'
                        hx-swap='outerHTML'>
                    </div>
                {% endif %}
                {% comment %} {% include "userprofile/profile-follower-post.html" %} {% endcomment %}
            </div>

            <div class="row mt-3 d-flex justify-content-left">
                {% if request.user.id == user.id %}
                    {% include "userprofile/profile-update-share.html" %}
                {% else %}
                    {% include "userprofile/profile-other-follow.html" with follow=show_post user=user follow_object=follow_object %}
                {% endif %}
            </div>
        </div>

    </div>
    {% if show_post %}
    <div class="row mt-5 shadow-sm bg-light" id="user-posts" >
        {% include "userprofile/profile-post-reel-switch.html" %}
    </div>
    {% endif %}

    {% include "socialapp/add-post-form.html" %}

{% endblock socialapp %}