{% extends "base.html" %}
{% load static %}
{% block socialapp %}
    <div class="row d-flex justify-content-center">
        <h5 align="center">Following</h5>      
        <div class="col-md-4">
            {% for object in objects %}
            <div class="card-header bg-light border mt-2 rounded d-flex justify-content-between">
                <div class="request-user-image mx-3 my-2">
                    <image class="border border-2 border-secondary"
                           src="{%if object.following_id.userextradetail_set.get.profile_image %}{{ object.following_id.userextradetail_set.get.profile_image.url }}{% endif %}"
                           style='height:60px;width:60px;border-radius:50%'>
                        <a href='{% url "userprofile:others-user-profile" user_id=object.following_id.id %}'>
                            <b class="mx-2"> {{ object.following_id.username | capfirst }} </b>
                        </a>
                    </image>
                </div>
                <div class="unfollow-user-button d-flex justify-content-end">
                    <image class="mx-4 my-4" src='{% static "utils/send.png" %}' width="30" height="30"></image>
                    <form action='{% url "followers:remove-following"%}' method="POST">
                        {% csrf_token %}
                        <input type="text" name="following_id" value="{{ object.following_id.id }}" hidden/>
                        <button type="submit" class="btn btn-danger border btn-sm mx-2 my-4"><b>Unfollow</b></button>
                    </form>
                </div> 
            </div>
            {% endfor %}
        </div>        
    </div>
{% endblock socialapp %}