{% extends "base.html" %}

{% block socialapp %}
    <div class="row d-flex justify-content-center">
        <h5 align="center">Request Received</h5>       
        <div class="col-md-4">
            {% for object in objects %}
            <div class="card-header bg-light border mt-2 rounded d-flex justify-content-between">
                <div class="request-user-image mx-3 my-2">
                    <image class="border border-2 border-secondary"
                           src="{%if object.follower_id.userextradetail_set.get.profile_image %}{{ object.follower_id.userextradetail_set.get.profile_image.url }}{% endif %}"
                           style='height:60px;width:60px;border-radius:50%'>
                        <b class="mx-2"> {{ object.follower_id.username | capfirst }} </b>
                    </image>
                </div>
                <div class="request-user-button">
                    <form action="." method="POST">
                        {% csrf_token %}
                        <input type="text" name="follwer_id" value="{{ object.follower_id.id }}" hidden/>
                        <button type="submit" class="btn btn-primary btn-sm mx-2 my-4"><b>Accept</b></button>
                    </form>
                </div> 
            </div>
            {% endfor %}
        </div>        
    </div>
{% endblock socialapp %}